
  
  .todo {
    max-width: 560px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
  }
  
  .todo img {
    max-width: 560px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    display: block; /* Convierte la imagen en un bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen */
    max-width: 100%; /* La imagen se ajusta al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .cabecera-imagen {
    width: 100%;
    height: 100%; /* Esto mantendrá la proporción de la imagen */
}

  .imgfondo {
    position: relative;
    width: 100%;
  }
  
  .texto-encima {
    position: absolute;
    top: 2%;   /* Distancia desde la parte superior del contenedor */
    left: 50%;    /* Coloca el elemento en el centro  */
    transform: translate(-50%);
    color: white;  /* Para poner color  */        
  }

  .texto-fondo {
    background-color: black; /* Color del fondo */
    color: white; /* Color del texto */
    padding: 2px; /* Espaciado interno para el texto */
    text-align: center; /* centrar texto */
  }

  .letras{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .link {
    color: red;
  }


  