
  body {
    margin: 0;
    font-family: Arial, sans-serif; /* Establece la fuente para todo el documento */
  }
  
  .todo {
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    text-align: center; /* Centra todo el texto dentro del contenedor */
  }
  
  .todo img {
    display: block; /* Convierte la imagen en un bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen */
    max-width: 100%; /* La imagen se ajusta al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }



  .imgfondo {
    position: relative;
  }
  
  .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }